* {
    margin: 0;
    padding: 0;
}
.main {
    margin: 0 auto;
    
    text-align: center;
    background-color: palegoldenrod;
    width: 400px;
    padding:50px;
    margin-top: 100px ;
    font-family: Arial, Helvetica, sans-serif;
    border:solid 2px brown;
    border-radius: 10px;
    
}
.header {
    margin-bottom: 20px;
    color:brown;
    
}
.view,.count,.click,.reset, .increment, .countplus {
    margin:10px;
}
.view, .count {
    color:brown;
    
}

.click, .reset, .countplus {
    padding:10px;
    background-color: brown;
    color: palegoldenrod;
    border-radius: 10px;
}
.increment {
    border:solid 2px brown;
    border-radius: 10px;
    padding:5px;
}